pytest
pytest-asyncio
pytest-mock
python-dateutil
python-dotenv
openai
dataclasses
fastapi
llama_parse
uvicorn
uvloop

langchain-community
langchain-core
langchain-ollama
langchain-openai
langgraph
langgraph-checkpoint-sqlite
langgraph-cli
langgraph-sdk
langsmith
